.footer {
    
    width: 100%;
    height: 6rem;
    background: linear-gradient(
    to right,
    #f03333,
    #520088

    
  );
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-family: "roboto", sans-serif;
    letter-spacing: 1px; 
  }
  
   
  .footer>a:hover {
      border-bottom: 1px solid #ffc400;
      color: rgb(230, 170, 4);
      font-family: cursive;
      font-size:larger ;
  }

  .footer a {
    text-decoration: none;
    color: white;
    padding: 10px;
  }
  