
.form-container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(92, 214, 11);
  
  }
  
  .itform {
    height: 25.5rem;
    width: 22rem;
    background-color:  rgb(42, 146, 236); 
    border-radius:0 45px 0 45px;
    display: flex;
    color:aliceblue;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top:3rem;
    padding-bottom:3rem;
  }
  
  .form-container form .title {
    text-align: center;
    padding-top:3rem;
    margin-bottom: 20px;
    font-weight:bold; 
    font-family:'Courier New', Courier, monospace;
    font-size:2rem;
    
  }
  
  .form-container form input {
    border: none;
    border-bottom:1px solid #000;
    border-radius: 0;
    padding:7px;
    margin: 2px;
    
  }
  
  .form-container form button {
       font-style: inherit;
       color: rgb(16, 0, 245);
       background-color:rgb(255, 255, 0) ;
       margin-top: 15px;
       margin-bottom: 10px;
       padding:4px;
       border: 0.5px solid black;
  }
  
  .form-container form button:hover {
    border: 1px solid black;
    color: #cbf803; 
    padding:4px;
    background: linear-gradient(
      to right,
      #9100f1,
      #ff6666
    ); 
  }
  
