.Dashboard-home{
    height: 38rem;
    width: 100%;
    background-color: rgb(230, 231, 229);
}

.topcontent{
    padding-top:2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    

}

.dashcontent{
    color: rgb(16, 0, 245);
    background-color:rgb(255, 255, 0) ;
    margin-top:15px;
    margin-bottom: 20px;
    padding:7px;
    border: 0.5px solid black;
    margin-left:9rem;
    border-radius: 4px;
    font-weight: 700;
       
}

.dashcontent:hover{
    color: rgb(255, 255, 255);
    background: linear-gradient(
        to right,
        #9100f1,
        #ff6666
      ); 
    margin-top:15px;
    margin-bottom: 20px;
    padding:7px;
    border: 0.5px solid black;
    margin-left:9rem;
     
}

.datacontent{

    display: flex;
    justify-content: center;
    align-items: center;
    justify-content:space-around;
   

}

.tab{
    
    padding:1rem ;
    
    
}