.header{
  width: 100%;
  height: 15vh;
  background: linear-gradient(
    to right,
    #54008b,
    #f04d4d
  ); 
  display: flex;
  letter-spacing: 2px;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  
}
  .h1{
    color: rgb(45, 248, 4);
    font-family:cursive; 
    font-size: 60px;
    margin-left: 1rem; 
    text-decoration: aliceblue;
  }

  .navbar-nav-container {
    display: flex;
    align-items: center;
    flex-direction: row; 
    justify-content:space-between;
    width: 100%; 
  }
   .navbar-nav
  { 
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-right:50px;  

  }
  .navbar-nav-2
  { 
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-right:50px;  
    gap:20px

  }
  .nav-link-home{  
    font-family:cursive; 
    color:rgb(255, 255, 255);  
    display: inline-block;  
    transition: transform 0.3s ease, color 0.3s ease;
  }
 
  .nav-link-home:hover{
    color:rgb(68, 8, 163); 
    transform: scale(1.2);
 
  }
  .nav-link-reg{ 
     color:rgb(255, 255, 255); 
     font-family:cursive;  
     display: inline-block;  
     transition: transform 0.3s ease, color 0.3s ease;
  }
  .nav-link-reg:hover{ 
    color:rgb(68, 8, 163); 
    transform: scale(1.2);
  }
 
  .nav-link-log{ 
   color:rgb(255, 255, 255); 
   font-family:cursive; 
   display: inline-block;  
   transition: transform 0.3s ease, color 0.3s ease;
  }

  .nav-link-log:hover{ 
    color:rgb(68, 8, 163); 
    transform: scale(1.2); 
  }


  .user{
    margin-left: 5px;
    font-family:cursive;
    color:rgb(255, 255, 255); 
    font-weight: 600;
  }

  .logout{
    margin-left: 5px;
    font-family:cursive;
    color:rgb(255, 255, 255); 
    text-decoration: none;  
  }
  
  .logout:hover{
   font-family:cursive;
   color:rgb(68, 8, 163); 
   transform: scale(1.2);
  }
 
.user-name{
 
  margin-right:1rem ;

}
 
