.container {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #30d108;
  
  }
  
  .container form {
    height: 50vh;
    width: 20vw;
    background-color:  rgb(42, 146, 236);
    border-radius:0 45px 0 45px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top:4rem;
    margin-bottom:4rem; 
    color:aliceblue
  }
  
  .container form .title {
   /* text-align: center; */
    margin-bottom: 32px;
    font-weight: bold; 
    font-size:2rem;
    font-family:'Courier New', Courier, monospace;
  }
  
  .container form input {
    border:2px solid #a39f9f;
    border-radius: 4px;
    padding:7px;
    margin: 4px;
    
  }
  
  .container form button {
       font-style: inherit;
       color: rgb(16, 0, 245);
       background-color:rgb(255, 255, 0) ;
       margin-top:20px;
       margin-bottom: 20px;
       padding-left:16px;
       padding-right:16px;
       padding-top:6px;
       padding-bottom:6px;
       border: none;
       border-radius: 4px;
       
  }
  
  .container form button:hover { 
    color: #cbf803; 
     background: linear-gradient(
      to right,
      #9100f1,
      #ff6666
    ); 
  }
  
 .container form .link{
    color:#720fc4;
  } 
  .container form .link:hover{
    color:#8ef1c0;
    font-size:18px;
  } 