*{
  margin: 0%;
  padding: 0%;
  
}
.home{
  
  height: 70vh;
  width: 100%;
  background-color: rgb(139, 248, 215);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home h1{
  font-size: 150px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color:rgb(98, 0, 255)
  
}


